<h1>this is SSG Page</h1>

<br>
<h2>page content</h2>
<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem obcaecati voluptatibus voluptas, facere sit et quas, eius odit alias autem laboriosam cum. Voluptatibus non possimus eius nihil? Repellat, quis iure facere exercitationem nisi dicta voluptatum blanditiis, dolor debitis minima nemo et optio saepe unde porro impedit est reprehenderit mollitia ab harum illo odio aspernatur? Harum nobis fuga, minus consequatur similique officiis quasi, iure dolor sed culpa beatae a quas officia mollitia commodi inventore soluta, pariatur nesciunt repudiandae temporibus corrupti. Vero quos optio itaque. Dicta debitis aut, quo minima eaque placeat, a sed nulla itaque aspernatur modi, odit esse eum voluptatum!</div>